* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	/*height: 3000px;*/
}

.header {
	position: fixed;
	width: 100%;
	transition: transform .3s ease;
	z-index: 4;
}

.header.isClosed {
	transform: translate3d(0, -100%, 0);
}

.header-nav {
	height: 50px;
	display: flex;
	background: #000;
	color: #fff;
	justify-content: center;
	align-items: center;
}

.header-navItem {
	margin-right: 20px;
}

.header-navItem:last-child {
	margin-right: 0;
}

.header-mobileButton {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #f03;
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
}

.header-mobileMenu {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background: #000;
	transform: translate3d(0, -100%, 0);
	transition: transform .3s ease;
}

.header-mobileMenu.isOpened {
	transform: translate3d(0, 0, 0);
}

.header-mobileNav {
	display: flex;
    color: yellow;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header-mobileNav .header-navItem {
	margin-right: 0;
	margin-bottom: 20px;
}

.header-mobileNav .header-navItem:last-child {
	margin-bottom: 0;
}

.header-cross {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 20px;
	right: 20px;
}

.switcher {
	padding-top: 50px;
	display: flex;
}

.switcher-column {
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #000;
}

.switcher-column:first-child {
	border-right: 1px solid #000;
}

.content {
	position: absolute;
	min-height: calc(100vh - 100px);
	width: 100%;
	background-color: red;
	top: 0;
	display: none;
}

.isPopup {
	background-color: rgba(255, 0, 0, .5);
}

.isCards {
	background-color: rgba(0, 255, 0, .5);
}

.content.isCards {
	background: rgba(0, 0, 0, .5);
}

.content.isActive {
	display: flex;
	position: relative;
}

.content-openPopup {
	width: 150px;

}

.isActive {
	display: block;
	position: relative;
}

.popup {
display: flex;
position: fixed;
background-color: rgba(0, 0, 0, .5);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 10000;
justify-content: center;
align-items: flex-start;
overflow-y: auto;
}

.popup.isActive {
	display: flex;
}

.popup-content {
position: relative;
padding: 40px;
width: 740px;
background: #fff;
box-shadow: 0 0 0 0 rgba(0, 0, 0, .12), 0 0 0 -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .12);
left: 0;
top: 0;
margin: 40px 0;
}

.popup-title {
font-size: 30px;
font-weight: 600;
}

.popup-text {
margin-top: 16px;
font-size: 14px;
line-height: 14px;
}

.popup-close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	background-image: url();
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
